

<div class="jumbotron">
  <div class="container">
    <h1>Verbena</h1>
    <p>Your make up shade resource.</p>
  </div>
</div>

<div class="container-fluid home-content">
  <div class="row">
    <div class="col-md-12">
      <h2>Our Goal</h2>
        <p>
          Have you ever spent hours at the store looking for the right color of make up? Do you want a lighter or darker shade of a product you already know? Do you want to explore all make up brands and shades out there? Then this is the right place for you. Our extensive make up library will give you millions of options in make up shades, so you won't feel lost anymore. Don't know how to use the make up? No worries, we also link make up tutorials for the product you choose. The possibilities are endless.
        </p>
    </div>
    <div class="col-sm-6">
      <h2>Find Brands</h2>
      <p>
        Have a favorite brand? Want to explore their products and shades? Dive into our brands library and find your favorite looks.
      </p>
    </div>
    <div class="col-sm-6">
      <h2>Check Out Products</h2>
      <p>
        Products blabber.
      </p>
    </div>
    <div class="col-sm-6">
      <h2>Explore Shades</h2>
      <p>
        Shades blabber.
      </p>
    </div>
  </div>
</div>
