

<div class="container-fluid shade-header" style="background-color: #<%= @color.hex %>;">
	<h1>Shades in this Color</h1>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="mobile-center">
			<h2>Matching Products</h2>
				<% @spot_on_colors.each do |color| %>
					<%= render color.shades %>
				<% end %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="mobile-center">
				<h2>Similar Shades</h2>
				<% @close_call_colors.each do |color| %>
					<div style="display: inline-block;">
						<%= link_to content_tag(:div, "", style: "height: 100px; width: 100px; background-color: ##{color.hex};"), color_path(color) %>
						<%= color.shades.first.name %>
					</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
