
<h1> Shades in this Color </h1>

<%= content_tag :div, "", style: "height: 100px; width: 100px; background-color: ##{@color.hex}; margin-left: auto; margin-right: auto;" %>

<h2> Products that match this color </h2>

<% @spot_on_colors.each do |color| %>
	<%= render color.shades %>
<% end %>

<h2> Search products in similar colors </h2>

<% @close_call_colors.each do |color| %>
	<div style="display: inline-block;">
		<%= link_to content_tag(:div, "", style: "height: 100px; width: 100px; background-color: ##{color.hex};"), color_path(color) %>
		<%= color.shades.first.name %>
	</div>
<% end %> 



