/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "static_pages";
@import "shades";
@import 'https://fonts.googleapis.com/css?family=Lato:300i|Playfair+Display:900i|Pavanam';

$venetian-red: #A81D42;
$light-gray: hsl(0,0%,97%);
$all: 'Pavanam', sans-serif;


// Mixins

@mixin change-color-slowly($property) {
	-webkit-transition: $property 0.3s ease-out;
	-moz-transition:    $property 0.3s ease-out;
	-ms-transition:     $property 0.3s ease-out;
	-o-transition: 			$property 0.3s ease-out;
	transition:         $property 0.3s ease-out;
}

@mixin font-headings {
	font: {
		family: 'Playfair Display', serif;
		weight: 900;
		style: italic;
	}
}

@mixin font-italic {
	font: {
		family: 'Lato', sans-serif;
		weight: 300;
		style: italic;
	}
}

@mixin gradient($color1, $color2) {
	background: $color2;
	background: -webkit-linear-gradient($color1, $color2);
	background: -moz-linear-gradient($color1, $color2);
	background: -ms-linear-gradient($color1, $color2);
	background: -o-linear-gradient($color1, $color2);
	background: linear-gradient($color1, $color2);
}

// Main

html {
	margin: auto;
}

body {
	font-family: $all;
	font-size: 16px;
}

h1, h2, h3 {
	@include font-headings;
}

.body-container {
	margin: auto 20px;
	min-height: 400px;
}

/* Navbar  */

.nav {
	.open {
		text-align: left;
		> a {
			background-color: $venetian-red;

			&:hover, &:focus {
				background-color: $venetian-red;
			}
		}
	}
}

.dropdown-menu {
	background-color: black;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar {
	background-color: black;
	border-radius: 0px;
	margin-bottom: 0px;

	img {
		height: 18px;
	}

	.navbar-toggle {
		border-color: #fff;
		.icon-bar {
			background-color: #fff;
		}
	}

	li {

		&.active {
			background-color: $venetian-red;
		}

		a {
			color: white;
			text-transform: uppercase;
			text-align: center;

			&:hover {
				background-color: $venetian-red;
				color: white;
				@include change-color-slowly(background-color);
			}
		}
	}
}

.navbar-text {
	@include font-italic;
	color: $light-gray;
}


// Search box

.form-control {
	width: 250px;
}

.search-form {
	text-align: right;
	height: 40px;
	margin-bottom: 5px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 20px;

	.form-group {
		position: relative;
	}

	.form-control {
		position: absolute;
		top: 0;
		right: 0;
		height: 40px;
		width: 300px;
		font-size: 16px;
		@include font-italic;
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		height: 40px;
		border: solid 1px black;
	}

	span.glyphicon-search {
		font-size: 16px;
		color: white;
	}
}


/* Index Pages */


h1 {
	// text-transform: uppercase;
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
}

.page-header {
	margin-bottom: 30px;
	margin-top: 10px;
	border: none;

	h1 {
		float: left;
		margin-left: 50px;
	}

	.line {
		border-bottom: groove;
		height: 42.5px;
	}

	img {
		max-height: 50px;
	}

}

ol.breadcrumb {
	clear: both;
	background-color: transparent;
	margin-bottom: 10px;
}

#brand-logo {
	margin-top: 30px;
 	height: 120px;
}

.list {
	margin-bottom: 15px;
}
/* Brand */

.brand-index {
	text-align: center;

	img {
		max-height: 80px;
		margin-bottom: 50px;
	}
}

.btn-default {
	background-color: black;
	color: white;
	@include change-color-slowly(background-color);

	a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
	}

	&:hover {
		color: white;
		background-color: $venetian-red;
	}

	&:visited {
		color: white;
	}
}

.spinner {
	padding: 50px;
	display: none;
}

/* Product */

.product-box {
	display: inline-block;
	background-color: $light-gray;
	border-radius: 10px;
	width: 250px;
	height: 290px;
	text-align: center;
	margin: 5px;

	.product-in-shade {
		margin: auto;
		margin-top: 10px;
		margin-bottom: 5px;
		height: 150px;

		img {
			margin: 0;
			max-height: 125px;
		}
	}

	img {
		margin: 20px;
	}

	.product-shade {
		height: 25px;
		width: 180px;
		margin: 0 auto 5px auto;
	}
}

.product-description {
	height: 100px;
	overflow-y: auto;
	margin-bottom: 15px;
}

.product-shades {
	height: 550px;
	overflow-y: auto;
}

.product-photo {
	height: 360px;
}

.order {
	text-align: right;
}

/* Shades */

.shade-header {
	margin-top: 30px;
	margin-bottom: 10px;
	h1 {
		display: inline-block;
		margin-bottom: 20px;
		text-align: center;
	}

	p {
		display: inline-block;
		vertical-align: middle;
		font-style: italic;
		padding-top: 30px;
	}
}

.not-found {
	font-size: 18px;
	font-style: italic;
	background-color: $light-gray;
	padding: 10px;
	margin: 10px;
}

.shade-square {
	height: 100px;
	// box-shadow: inset 1px 1px 2px black;
	box-shadow: -1px -1px 2px black;
	border-radius: 5px;

	&:hover {
		// box-shadow: inset 1px 1px 2px black, 1px 1px 1px hsl(0,0%,80%), -1px -1px 1px hsl(0,0%,80%);
		box-shadow: 1px 1px 2px black, -1px -1px 2px black;
		border: solid 1px #fff;
	}
}

.shade-square-small {
	height: 50px;
	// box-shadow: inset 1px 1px 2px black;
	box-shadow: -1px -1px 2px black;
	border-radius: 5px;

	&:hover {
		// box-shadow: inset 1px 1px 2px black, 1px 1px 1px hsl(0,0%,80%), -1px -1px 1px hsl(0,0%,80%);
		box-shadow: 1px 1px 2px black, -1px -1px 2px black;
		border: solid 1px #fff;
	}
}


.shades-index {
	display: inline-block;
	width: 85px;
	height: 165px;
	margin: 2px;
	vertical-align: top;

	p {
		font-size: 14px;
		word-wrap: normal;
		text-align: center;
		margin-bottom: 0;
	}
}

.shade-canvas {
		width: 85px;
		height: 100px;
		border-radius: 5px;
	}

.small-shade-canvas {
	width: 85px;
	height: 50px;
	border-radius: 5px;
}

.product-shade-canvas {
		width: 180px;
		height: 25px;
}

p.finish {
	@include font-italic;
}

#shades-list {
	max-width: 900px;
	margin: auto;
}

#show-more {
	padding-bottom: 10px;
	a {
		color: black;
		text-transform: uppercase;

		&:hover {
			color: $venetian-red;
			text-decoration: none;
			@include change-color-slowly(color);
		}
	}
}

// Looks

.look-shades {
	display: inline-block;
	width: 85px;
	margin: 2px;
	vertical-align: top;
	text-align: center;

	p {
		font-size: 14px;
		word-wrap: normal;
		text-align: center;
		margin-bottom: 0;
	}

}

.type-shades {
	padding: 10px;
}


/* Footer */

footer {
	position: relative;
	.footer {
		background-color: black;
		color: white;
		margin-top: 20px;

		.col-md-4 {
			margin-top: 20px;
		}

		p {
			padding: 20px;
			font-style: italic;
			margin-bottom: 0;
		}
	}

	li {
		list-style: none;
	}
}



/* MEDIA QUERIES */

// Computers


/* Mobile devices */
@media (max-width: 767px) {

	.body-container {
		margin: auto 5px;
	}

	#brand-logo {
		display: none;
	}

	.page-header {
		text-align: center;

		h1 {
			margin-left: 0;
			float: none;
			padding: 5px;
			margin-bottom: 0;
		}

		.line {
			display: none;
		}

		img {
			max-height: none;
			width: 300px;
		}
	}

	.search-form {
		padding: 0 10px;

		.form-control {
			width: 100%;
		}
	}

	.product-photo {
		height: auto;
		width: 90%;
	}

	.brand-index {
		img {
			max-height: none;
			height: auto;
			width: 300px;
		}
	}

	.mobile-center {
		text-align: center;
	}

	.shade-header {
		h1 {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		 p {
			padding-top: 0;
			display: block;
		}
	}
}

/* Small devices */

@media (max-width: 991px) {
	.product-shades {
		height: auto;
	}
}
