/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "static_pages";

.body-container {
	margin: auto 20px;
}

/* Navbar  */

.navbar {
	background-color: black;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-nav > li > a {
	color: white;
	text-transform: uppercase;
	text-align: center;

	&:hover {
		color: black;
		background-color: hsl(0,0%,50%);
	}
}

.navbar .navbar-toggle {
	border-color: #fff;
	.icon-bar {
		background-color: #fff;
	}
}

// Search box

.form-control {
	width: 250px;
}


.search-form {
	text-align: right;
	height: 40px;
	margin-bottom: 5px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 20px;

	.form-group {
		position: relative;
	}

	.form-control {
		position: absolute;
		top: 0;
		right: 0;
		height: 40px;
		width: 300px;
		font-size: 16px;
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		height: 40px;
		border: solid 1px black;
	}

	span.glyphicon-search {
		font-size: 16px;
	}
}


/* Index Pages */


h1 {
	text-transform: uppercase;
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
}

.page-header {
	margin-bottom: 30px;
	margin-top: 10px;
	border: none;

	h1 {
		float: left;
		margin-left: 50px;
	}

	.line {
		border-bottom: groove;
		height: 42.5px;
	}

	img {
		max-height: 50px;
	}

}

ol.breadcrumb {
	clear: both;
	background-color: transparent;
}

.btn {
	background-color: black;
	color: white;
}

#brand-logo {
	margin-top: 30px;
 	height: 85px;
}

/* Brand */

.brand-index {
	text-align: center;

	img {
		max-height: 80px;
		margin-bottom: 50px;
	}
}

.btn-default {

	a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
	}

	&:hover {

		a {
			color: black;
		}
	}
}


/* Product */

.product-box {
	display: inline-block;
	background-color: hsl(0,0%,97%);
	border-radius: 10px;
	width: 250px;
	height: 285px;
	text-align: center;
	margin: 5px;

	.product-in-shade {
		// border: solid 1px black;

		margin: auto;
		margin-top: 10px;
		margin-bottom: 5px;
		height: 150px;

		img {
			margin: 0;
			max-height: 125px;
		}
	}

	img {
		margin: 20px;
	}

	.product-shade {
		height: 25px;
		width: 180px;
		margin: 0 auto 5px auto;
	}
}

.product-description {
	height: 100px;
	overflow-y: auto;
	margin-bottom: 15px;
}

.product-shades {
	height: 550px;
	overflow-y: auto;
}

.product-photo {
	height: 360px;
}

.shade-square {
	height: 100px;
	box-shadow: inset 1px 1px 2px black;
	border-radius: 5px;
}

.shades-index {
	display: inline-block;
	width: 85px;
	height: 150px;
	margin: 2px;
	vertical-align: top;

	p {
		font-size: 12px;
		word-wrap: normal;
		text-align: center;
		margin-bottom: 0;
	}
}

p.finish {
	font-style: italic;
}

.order {
	text-align: right;
}

/* Colors */

#colors-list {
	margin-top: 20px;
}

.color-show {
	// display: inline-block;
	margin: 3px;
	height: 100px;
	width: 100px;
}


/* Shades */

.shade-header {
	margin-top: 30px;
	h1 {
		display: inline-block;
		margin-bottom: 20px;
		text-align: center;
	}

	p {
		display: inline-block;
		vertical-align: middle;
		font-style: italic;
		padding-top: 30px;
	}
}

.not-found {
	font-size: 18px;
	font-style: italic;
	background-color: hsl(0,0%,97%);
	padding: 10px;
	margin: 10px;
}

/* Footer */

footer {
	position: relative;

	.footer {
		background-color: black;
		color: white;
		margin-top: 20px;
		// height: 100px;
		// width: 100%;
		// position: absolute;
		// bottom: 0px;
	}
}

/* MEDIA QUERIES */

// Computers


/* Mobile devices */
@media (max-width: 767px) {

	.body-container {
		margin: 0;
	}
	#brand-logo {
		display: none;
	}

	.page-header {
		text-align: center;

		h1 {
			margin-left: 0;
			float: none;
			padding: 5px;
			margin-bottom: 0;
		}

		.line {
			display: none;
		}

		img {
			max-height: none;
			width: 300px;
		}
	}

	.search-form {

		.form-control {
			width: 100%;
			border-radius: 0;
		}

		button {
			border-radius: 0;
		}
	}

	.product-photo {
		height: auto;
		width: 90%;
	}

	.brand-index {
		img {
			max-height: none;
			height: auto;
			width: 300px;
		}
	}

	.mobile-center {
		text-align: center;
	}

	.shade-header {
		h1 {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		 p {
			padding-top: 0;
			display: block;
		}
	}
}

/* Small devices */

@media (max-width: 991px) {
	.product-shades {
		height: auto;
	}
}
