// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$venetian-red: #A81D42;
$light-gray: hsl(0,0%,97%);

// Jumbotron Styling

$lavender: rgb(141,118,180);

@mixin radial-gradient($color1, $color2) {
  background: $color1;
  background: -webkit-radial-gradient($color1 30%, $color2 70%);
  background: -o-radial-gradient($color1 30%, $color2 70%);
  background: -moz-radial-gradient($color1 30%, $color2 70%);
  background: radial-gradient($color1 30%, $color2 70%);
}

.jumbotron {
  background: image-url("jumbotron.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
  text-align: left;
  // padding-top: 178px;
  padding: 0;
  box-shadow: inset 1px 1px 3px black;

  .container {
    padding: 0;
    position: relative;
    top: 130px;
    margin-left: 20px;
    width: 600px;
    height: 300px;
    border-radius: 50%;
    @include radial-gradient(transparentize($lavender, 0.8), transparentize($lavender, 1));
    padding: 30px 0;
  }

  .jumbotron-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  h1 {
    margin: 0;
    background-color: transparent;
    color: white;
    font-size: 90px;
    text-shadow: 2px 2px 2px black;
  }

  p {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    text-shadow: 1px 1px 2px black;
  }
}

// Content Styling

.home-content {
  h2 {
    margin-top: 5px;
    text-align: center;
    font-style: italic;
  }

  p {
    font-size: 18px;
    padding: 10px 30px;
  }
}

.home-tile {
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 5px;
}


#product-tile {
  height: 200px;
  background: image-url("product_tile.jpg");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

#look-tile {
  height: 200px;
  background: image-url("look_tile.jpg");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

#shade-tile {
  height: 200px;
  background: image-url("shade_tile.jpg");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  .home-tile {
    color: black;

    &:hover {
      color: $venetian-red;
    }
  }
}

// Media Queries

@media (max-width: 991px) {
  .jumbotron {
    background: image-url("jumbotron_mobile.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .container {
    position: relative;
    left: -100px;
  }
}

@media (max-width: 767px) {
  .jumbotron {

    .container {
      position: relative;
      left: 0;
      margin-left: 0;
    }

    h1 {
      font-size: 70px;
    }
  }

}
