
<div class="page-header">
	<h1>Brands</h1>
	<div class="line"></div>
</div>

<div class="search-form">
	<%= form_tag({controller: "brands", action: "index"}, method: "get", remote: true) do %>
		<div class="form-group">
				<%= text_field_tag(:name,"", class: "form-control", placeholder: "Search...", autofocus: true) %>
			  <%= button_tag(type: 'submit', class: "btn btn-default") do %>
					<span class="glyphicon glyphicon-search"></span>
				<% end %>
		</div>
	<% end %>
</div>

<div id="brands-list">
  <%= render @brands %>
</div>
