<div class="product-box">
  <%= link_to image_tag(product.photo_url, height: "150"), product, method: :get %>
	<%= content_tag :p, product.brand.name %>
  <%= content_tag :p, product.name %>
  <%= content_tag :p, format_price(product.price) %>
</div>
