
<div class="page-header">
	<h1>Products</h1>
	<div class="line"></div>
</div>
<%= form_tag({controller: "products", action: "index"}, method: "get", remote: true, class: "form-inline") do %>
  <div class="form-group">
	  <%= text_field_tag(:name,"", class: "form-control", placeholder: "Enter product name") %>
	  <%= submit_tag("Search",class: "btn btn-default") %>
  </div>
<% end %>

<div id="products-list">
	<%= render @products %>
</div>


